a {
  color: inherit;
}
.group {
  display: flex;
  position: relative;
}
.color-sub + .color-sub {
  align-items: flex-end;
}

.btn-card + .btn-card {
  margin-inline-start: 80px;
}

.color-sub .btn-card {
  width: 168px;
}

.btn-group > .btn-card + .btn-card {
  position: absolute;
  left: 155px;
}
.outline > .btn-card + .btn-card {
  position: absolute;
  left: 155px;
}
.text > .btn-card + .btn-card {
  left: 155px;
  position: absolute;
}

.disabled > .btn-card + .btn-card {
  left: 155px;
  position: absolute;
}

.material-icon {
  margin-block: 52px 34px;
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #828282;
}
.acknowledgement {
  margin-block-end: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17.07px;
  color: #a9a9a9;
}

@media(min-width: 1024px) {
  .App {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
  
  .aside {
    order: 1;
    position: relative;
    bottom: 0;
    margin-inline-end: 90.5px;
    width: 237px;
    padding-inline-start: 56.5px;
  }
  
  .main {
    order: 2;
    overflow-y: scroll;
    width: calc(100% - 237px);
  }

  .color-group {
    display: flex;
    flex-direction: column;
  }
}